<div class="stats shadow bg-base-200">
    <div class="stat">
        <div class="stat-title">{{ title }}</div>
        <div class="stat-value text-primary">{{ value }}</div>
        <div class="stat-desc">Au total</div>
    </div>
</div> 